*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /*Reacomoda todo el contendio en los bloques*/  
}
body {
    margin: 0;
    background-color: rgb(255, 242, 130);
    background-image: url("../img/portada.jpg");
    background-repeat:repeat-x, repeat-y;
    
}
nav,header, 
section,
article,
footer{
    display: block; 
}

ul{
    display: block;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: rgb(252, 255, 94);
    border:none; 
}

#menu li a {
    display: block;
    color: #000;
    font-weight: bold;
    padding: 8px 20px;
    text-decoration: none;
    margin-bottom: 5%;
}

#menu li a.active {
    background-color: rgb(82, 82, 81);
    color: white;
}

#menu li a:hover:not(.active) {
    background-color: rgb(0, 68, 255);
    color: rgb(255, 255, 255);
}

#menu a:hover{
	transform: scaleY(1.3);
    font-style:  italic ;
}
nav{
    float: left;
    border:none;
}

#cabecera{
    background-color: rgba(135, 206, 250, 0.842);
    padding: 20px;
    margin-bottom: 30px;
    float: right;
    width: 85%;
    height: 30%;
    text-align: center;
}
h1{
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    padding:3px;
    text-shadow: 2px 2px #024c4e;
}

#seccion{
    background-color: rgba(248, 248, 248, 0.404);
    margin-bottom: 100px;
    margin-right: 30px;
    float: right; 
    width: 78%;
    height: 100%;
}
article{
    float:right;
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 33px;
    width: 90%;
    height: 80%;
}

#titulo_seccion{
    border-radius: 20px;
    border: lightskyblue 4px solid;
}
.presentacion_materia{
    display:block;
    float:left;
    height: 30%;
	width: 60%;
    margin-left: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
}
span{
    font-weight: bold;
    color:rgb(2, 2, 2);
}

h2{
    color:rgb(49, 18, 221);
    padding: 10px;
    font-size: 1.7rem;
}

.minifoto{
    display: block;
    float: right;
    height: 30%;
	width: 30%;
    border:rgba(135, 206, 250, 0.795) 2px solid;
    border-radius: 15px;
    margin-top: 1rem;
    margin-right: 130px;
}
.presentacion{
    display:block;
    float:left;
    height: 30%;
	width: 50%;
    margin-left: 35px;
    text-align: center;
    font-size: 19px;
    margin-top: 5rem;
}


h3{
    font-size: 1.5rem;
    color:rgb(1, 126, 184);
}

.logo{
	display:block;
    float:right;
    height: 30%;
	width: 30%;
    margin-top: 20px;
}
p{
    margin-bottom: 1rem;
}
#pie{
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 8%;
   background-color: rgb(0, 68, 255);
   text-align: center;
   padding: 5px;
   color: white;
}

address a{
    color: rgb(170, 244, 253);
    font-weight: bold;
    font-style: italic;
}


